* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
            background-image: url(img/imagem.jpg);
            background-color: lightgray;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.text-input {
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5em;
    width: 80%;
    height: 50px;
}
.btn {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.5em;

}


.box {
    padding: 10px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 0.5em;
    width: 30vw;
    height: auto;
}
.titulo {
    padding: 15px;
    width: 30vw;
    margin: auto;

}
.main {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Efeito do Texto*/

.typewriter h1 {
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: blue;  }
  }

  .textoEfeito{
      color: aliceblue;
      padding: 20px;
      
     
  }